html {
  font-size: 18px;
  font-style: helvetica, sans-serif;
  color: white;
  /*background-color: black;*/
}
body {
  margin-top: 0px;
}
.container-align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
}
.container-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
header img {
  height: 1.5rem;
  width: auto;

  padding: 0rem 1rem 0rem 0.5rem;
}
header span {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.66rem 0rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  display: flex;
  height: 25rem;
  width: 100%;
  justify-content: center;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}
.title .text {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20rem;
  background-color: black;
  padding: 2rem 0rem 2rem 3rem;
  margin-top: 9rem;
}
.title .text h3 {
  display: flex;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;

  /*padding-top: 2rem;
  padding-left: 3rem;*/
}
.title .text h1 {
  display: flex;
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  /*padding: 0.25rem 0rem 2rem 3rem;*/
  padding-top: 0.25rem;
}

.category {
  display: flex;
  background-color: firebrick;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0rem;
}


.product {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 3rem 0rem;
}
.product .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 30%;
  border: 4px solid black;
}
.product .box img {
  max-height: 9rem;
  width: auto;
  max-width: 100%;
  overflow: auto;
  background-color: white;
  padding: 2rem 0rem 2rem 0rem;
  margin: auto;
}
.product .box span {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}

.info {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 4rem;
}
.info .item {
  width: 35%;
  margin-bottom: 4rem;
}
.info .item h3 {
  font-weight: normal;
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
}
.info .item span {
  color: black;
  background-color: white;
}

footer {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@media only screen and (max-width: 470px) {
  .container-align-left {
    width: 100%;
    justify-content: center;
  }
  .container-space-between {
    width: 100%;
    justify-content: center;
  }
  .screen-large {display: none;}
  .screen-medium {display: none;}
  .screen-small {display: flex;}

  header {
    width: 100%;
    justify-content: center;
  }
  header span {display: none;}

  .title {
    height: 15rem;
    width: 100%;
  }
  .title .text {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 10rem;
  }

  .product .box {
    width: 90%;
  }
  .product .watch {
    display: none;
  }
  .product .glasses {
    display: none;
  }
  .info .container-space-between{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .info .item {
    display: block;
    width: 90%;
    padding-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 471px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .container-align-left {
    width: 470px;
  }
  .container-space-between {
    width: 470px;
  }
  .screen-large {display: none;}
  .screen-medium {
    display: flex;
    justify-content: center;
  }
  .screen-small {display: none;}

  .product .box {
    width: 47%;
  }
  .product .glasses {
    display: none;
  }
  .info .item {
    width: 35%;
  }
  footer {
    justify-content: center;
  }
}

@media only screen and (min-width: 1025px) {
  .screen-large {display: flex;}
  .screen-medium {display: none;}
  .screen-small {display: none;}
}
